body {
  margin: 0;
  font-family: "DotumChe", "Malgun Gothic", monospace;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "MercyFont";
  src: url("MERCY.ttf") format("truetype");
}

p {
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  background-color: black;
  color: white;
  padding: 20px;
}

.message-data-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
  color: white;
  gap: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  min-height: 32px;
}

.heart-container {
  display: flex;
  flex-direction: row;
}

.heart {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.center-envelope {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.envelope {
  padding: 100px 0 0 0;
  width: 100px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.text-box {
  border: 2px solid white;
  padding: 30px;
  max-width: 400px;
}

.final-screen {
  border: 2px solid white;
  padding: 30px;
  max-width: 400px;
  white-space: pre-line;
  position: relative;
}

.corner-heart {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 24px;
  height: auto;
}

button {
  background-color: transparent;
  border: 2px solid rgb(255, 255, 115);
  color: rgb(255, 255, 115);
  font-weight: bold;
  font-family: "MercyFont", sans-serif;
  font-size: 14px;
}

.btn-active {
  opacity: 1;
}

.btn-disabled {
  opacity: 0.5;
  filter: grayscale(100%);
}

.btn-game-over {
  opacity: 0.5;
  filter: grayscale(100%);
}
